{% extends 'fragment/base-layout.html' %}

{% block content %}
    <!-- Add Book Page -->
    <section id="create-page" class="create">
        <form id="create-form" action="{% url 'create book' %}" method="POST">
            <fieldset>
                <legend>Add New Book</legend>
                <label for="title">Title</label>
                {{ form.title }}
                <label for="description">Description</label>
                {{ form.description }}
                <label for="image">Image</label>
                {{ form.image }}
                <label for="type">Type</label>
                {{ form.type }}
                <input class="button submit" type="submit" value="Add Book">
                {% csrf_token %}
            </fieldset>
        </form>
    </section>
{% endblock %}