{% extends 'fragment/base-layout.html' %}
{% block content %}
        <!-- Details Page -->
        <section id="details-page" class="details">
            <div class="book-information">
                <h3>{{ form.title.value }}</h3>
                <p class="type">Type: {{ form.type.value }}</p>
                <p class="img"><img src="{{ form.image.value }}" alt=""></p>
                <div class="actions">
                    <a class="button" href="{% url 'edit book' book.id %}">Edit</a>
{#                    <a class="button" href="{% url 'delete book' book.id %}">Delete</a>#}
                </div>
            </div>
            <div class="book-description">
                <h3>Description:</h3>
                <p>{{ form.description.value }}</p>
            </div>
        </section>
{% endblock %}