{% extends 'fragment/base-layout.html' %}

{% block content %}
    <!-- Edit Book Page -->
    <section id="edit-page" class="edit">
        <form id="edit-form" action="{% url 'edit book' book.id %}" method="POST">
            <fieldset>
                <legend>Edit Book</legend>
                <label for="title">Title</label>
                {{ form.title }}
                <label for="description">Description</label>
                {{ form.description }}
                <label for="image">Image</label>
                {{ form.image }}
                <label for="type">Type</label>
                {{ form.type }}
                <input class="button submit" type="submit" value="Edit">
                {% csrf_token %}
            </fieldset>
        </form>
    </section>
{% endblock %}

